/* <!-- Esercizio 1 --> */

.ex-1-square {
  transition: all 3s;
}

.ex-1-square:hover {
 background-color: red;
}

/* <!-- Esercizio 2 --> */

.ex-2-square {
  transition: all 4s;
}

.ex-2-square:active {
  width: 100%;
}

/* <!-- Esercizio 3 --> */